.product__detail__main
  .product__detail__box
    .product__detail__box__name k
    .product__image
      %img{ src: "/assets/product-detail1.jpg", class:"product__image__1" }
    .product__image--small
      %ul.product__image--small__list
        %li.product__image--small__list__1
          %img{ src: "/assets/product-detail2.jpg", class:"product__image__2" }
          %img{ src: "/assets/product-detail3.jpg", class:"product__image__3" }
    .product__detail__box__price
      .product__detail__box__price__number $1000
      .product__detail__box__price__explanation （税込）送料込み
    .product__detail__box--small k