.introduction {
  padding: 60px 20px;
  &__title  {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  &__lists {
    text-align: center;
    display: flex;
    max-width: 1080px;
    width: 100vw;
    margin: 0 auto;
    &__list {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__pic {
        position: relative;
        margin-bottom: 20px;
        &--num {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        &--image {
          width: 100%;
          vertical-align: bottom;
        }
      }
      &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
      }
      &__discription {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }
}