.new-items {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 400px;
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__products {
    &__head {
      text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
      &__title {
        font-weight: bold;
      }
    }
    &__lists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
        a {
          background-color: #fff;
          display: inline-block;
        }
      &__list {
        width: 220px;
        display: inline-block;
        &--pic {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
            &--sold{
              width: 0;
              height: 0;
              border-top: 60px solid #ea352d ;
              border-right: 60px solid transparent;
              border-bottom: 60px solid transparent;
              border-left: 60px solid #ea352d ;
              z-index:100;
              position: relative;
              &--inner{
                transform: rotate(-45deg);
                font-size: 28px;
                margin:-35px 0px 0px -55px;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 600;
              }
            }
        }
        
        &--body {
          background-color: white;
          color: #333;
          padding: 16px;
          &__title {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          &__details {
            font-size: 16px;

              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
          }
        }
      }
    }
  }
}
.all{
  flex-wrap: wrap;
}
.new-pickups{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}
