$basic-color:rgb(93, 250, 255);
$font-color:white;

@mixin list() {
  width:150px;
  height: 150px;
  background-color: $basic-color;
  border-radius: 5px;
  position: fixed;
  right:50px;
  z-index: 500;
}

@mixin list_p() {
  color: $font-color;
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
}

.header {
  width: 90vw;
  max-width: 960px;
  font-size: 16px;
  padding: 16px 40px;
  margin: 0 auto;

  &__search {
    width: 100%;
    display: flex;
      flex-direction: row;

    .logo {
      width: 140px;
      height: 40px;
      margin-right: 24px;
    }

    &__form {
      width: 100%;
      display: flex;
        flex-direction: row;

      &__input {
        width: 100%;
        height: 30px;
        margin-top: 5px;
      }

      &__submit {
        background-color: #3ccace;
        width: 30px;
        height: 30px;
        margin-top: 5px;
        position: relative;

        &--image {
          width: 20px;
          position: absolute;
            top: 3px;
            left: 3px;
        }
      }
    }
  }

  &__menu {
    width: 100%;
    
    font-size: 0.9rem;
    padding: 8px 0;
    display: flex;
      justify-content: space-between;

    &__category {
      display: flex;
        flex-direction: row;

      p {padding: 0 8px;}
    }

    &__devise {
      display: flex;
        flex-direction: row;

        p {padding: 0 8px;}
    }
  }
}

.app-dl {
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  width: 100%;
  height: 360px;
  position: relative;

  &__img {
    width: 100%;
    height: 360px;
  }

  p {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 3.0em;
    margin: 0 auto;
    display: block;
    position: absolute;
      top: 25%;
      left: 0;

    .text1 {
      font-size: 1.2rem;
      text-shadow: 1px 1px 5px rgb(51, 51, 51);
    }
    .text2 {
      font-size: 2.0rem;
      
    }
  }

  &__store {
    width: 100%;
    text-align: center;
    position: absolute;
      top: 55%;
      left: 0;

    img {
      width: 180px;
    }
  }
}

.part_download{
  height: 400px;
  width: 100%;
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  position: relative;
  .font_size{
    font-size: 22px;
    padding: 120px 0 20px;
  }
  p{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgb(51, 51, 51);
    font-size: 30px;
    font-weight: bold;
  }
  .margin_bottom{
    margin-bottom: 70px;
  }
  .list{
    position: absolute;
    bottom: 30%;
    left: 35%;
  }
}

.footer{
  height: 340px;
  width: 100%;
  background-color: rgb(32, 32, 32);
  position: relative;
  &__menus{
    display: flex;
    justify-content: center;
    &__menu{
      margin: 40px 30px 20px;
      h1{
        font-size: 18px;
        color: $font-color;
      }
      ul{
        margin: 40px 0 20px;
        li{
          margin-bottom: 10px;
          a{
            color: $font-color;
            font-size: 12px;
          }
        }
      }
    }
  }
  &__logo{
    display: flex;
    justify-content: center;
  }
  p{
    color: $font-color;
    padding-top: 3px;
    justify-content: center;
    display: flex;
    font-size: 14px;
  }
}

.sell{
  width:100px;
  height: 100px;
  background-color: $basic-color;
  border-radius: 5px;
  position: fixed;
  right:50px;
  z-index: 500;
  bottom:  50px;
  p{
    color:      $font-color;
    font-size:  16px;
    margin: 10px 0 0 15px;
  }
  img{
    margin: 10px 0 0 24px;
  }
}


