.features
  %h2.features__title
  .features__images
    .features__images__image
      %span.image
        = image_tag src="material/icon/icon-01.png", class: "features__images__image__pic"
      %h3.features__images__image__title
        簡単に売り買いできる
      %p.features__images__image__text
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .features__images__image
      %span.image
        = image_tag src="material/icon/icon-03.png", class: "features__images__image__pic"
      %h3.features__images__image__title
        売上金は即日振込みに対応
      %p.features__images__image__text
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .features__images__image
      %span.image
        = image_tag src="material/icon/icon-04.png", class: "features__images__image__pic"
      %h3.features__images__image__title
        様々な支払いに対応
      %p.features__images__image__text
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。