.introduction
  %h2.introduction__title
  %ul.introduction__lists
    %li.introduction__lists__list
      .introduction__lists__list__pic
      %h3
        %span 3分
        ですぐに出品
      %p
        スマホで入力するだけで簡単に出品できる！
    %li.introduction__lists__list
      .introduction__lists__list__pic
      %h3
        %span シンプル
        で使いやすい
      %p
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.introduction__lists__list
      .introduction__lists__list__pic
      %h3
        手数料
        %span 業界最安
      %p
        最大3%でお得に出品&購入！