.main-top
  .main-top__head
    .main-top__head__content
      %h2.main-top__head__content__title
        %br
        人生を変えるフリマアプリ
      %p.main-top__head__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .main-top__head__content__btn
        = link_to image_tag("material/badge/app-store-badge.png", class:"main-top__head__content__btn__apple"), "#"
        = link_to image_tag("material/badge/google-play-badge.png", class:"main-top__head__content__btn__google"), "#"