.main-top
  .main-top__content
    %h2.main-top__content__title
      %br
      人生を変えるフリマアプリ
    %p.main-top__content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .main-top__content__btn
      = link_to image_tag("material/badge/app.png", class:"main-top__content__btn__apple"), "#"
      = link_to image_tag("material/badge/google.png", class:"main-top__content__btn__google"), "#"