.middle
  .middle__inside
    %h2.middle__inside__title
      会員数日本一位
    %p.middle__inside__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .middle__inside__btn
      = link_to image_tag("material/badge/app.png", class:"main-top__content__btn__apple"), "#"
      = link_to image_tag("material/badge/google.png", class:"main-top__content__btn__google"), "#"