.product__detail__main{
  background-color: #f8fbf8;
  height: 100%;
  width: 100%;
  padding: 40px;
  .product__detail__box{
    background-color: #ffffff;
    width: 620px;
    height: 100%;
    margin: auto;
    padding: 24px 40px 40px;
    &__name{
      font-size: 24px;
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
    .product__image{
      text-align: center;
      padding-top: 20px;
      &__1{
        height: 346px;
        width: 500px;
      }
    }
    .product__image--small{
      &__list{
        padding-inline-start: 0;
        &__1{
          list-style: none;
          display: flex;
          justify-content: center;
          .product__image__2{
            height: 87px;
            width: 140px;
            padding-right: 5px;
          }
          .product__image__3{
            height: 87px;
            width: 140px;
            padding-left: 5px;
          }
        }
      }
    }
    &__price{
      margin-top: 24px ;
      margin-bottom: 24px;
      &__number{
        text-align: center;
        font-weight: bold;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        font-size: 46px;
      }
      &__explanation{
        text-align: center;
      }
    }
    .product__detail__box--small{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .product__detail__table{
      margin: 0 auto;
      border: 1px solid;
      width: 100%;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      th{
        background-color: #eee;
        width: 20%;
        padding: 8px;
        text-align: center;
        font-size: 14px;
        border: 1px solid;
      }
      td{
        padding: 15px;
        border: 1px solid;
        width: 61%;
      }
    }
    .option__zone{
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      .favorite__btn{
        button{
          font-size: 14px;
          border-radius: 18px;
          padding: 6px;
          color: #3CCACE;
          border-color: orange;
        }
      }
      .alert__btn{
        border: solid 1px;
        border-radius: 4px;
        padding: 6px 10px;
      }
      a{
        color: black;
        text-decoration: none;
        font-size: 14px;
      }
    }
    .product__detail__edit__delete__buy{
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #3CCACE;
      a{
        color: #3CCACE;
        border: solid 1px;
        border-radius: 12px;
        padding: 8px;
      }
    }

  }
  .product__comment__box{
    background-color: #ffffff;
    width: 620px;
    height: 100%;
    margin: auto;
    padding: 24px 40px 40px;
    margin-top: 20px;
    textarea{
      margin: 0 auto;
      width: 100%;
    }
    &__alert{
      background-color: #f8fbf8;
      font-size: 14px;
      margin-top: 15px;
      padding: 10px;
    }
    &__submit__parent{
      text-align: center;
      .product__comment__box__submit{
      background-color: #3CCACE;
      border-radius: 40px;
      padding: 10px 100px;
      margin-top: 30px;
      font-size: 20px;
      color: #ffffff;
      }
    }
  }
  .choose__option{
    width: 620px;
    margin: auto;
    padding: 24px 40px 40px;
    display: flex;
    justify-content: space-between;
    &__former{
      color:#3CCACE;
    }
    &__later{
      color:#3CCACE;
    }
    a{
      text-decoration: none;
      color:#3CCACE;
    }
  }
  .other__option{
    width: 620px;
    margin: auto;
    padding: 24px 40px 40px;
    font-size: 25px;
    color: #3CCACE;
    font-weight: bold;
  }
}
