.main
  .main__contents
    %h2.main__contents__text
      クレジットカード情報入力
    .card-form
      .card-form__group
        .card-form__group__number
          カード番号
          %span.card-form__group__number__require
            必須
        .card-form__group__expire
          有効期限
          %span.card-form__group__expire__require
            必須
        .card-form__group__code  
          セキュリティーコード
          %span.card-form__group__code__require
            必須
      .card-form__btn
        追加する  
      