.sidebar
  .section
    %h2.section_titile
      マイページ
    %ul.section__group
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            お知らせ
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            いいね！
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            出品した商品
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            購入した商品
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            コメントした商品
  .section
    %h2.section_titile
      設定
    %ul.section__group
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            登録情報変更
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            支払い方法
      %li.section__group__list
        =link_to "#", class: "list-item" do
          .section__group__list__text
            ログアウト
  