.top-header
  .top-inside
    .top-inside-main
      %h1.icon
        -# = image_tag 'mercari-top-logo.png', size: '134×40'
        %a{:href => "#"}カテゴリー 
    %form.top-search-form
      %input.top-search__box{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""} 
      %button.search-button{:height => "16",:viewbox => "0 0 16 16", :width => "16"}    
        %label.search-button__icon
          = link_to root_path do     
            %i.fa.fa-search
  .navlist
    %ul.listleft
      %li.itemleft
        %a{:href => "#"}カテゴリー
        -# .categorytree
        -#   %ul.categorylist
        -#     %li.type
        -#       %a{:href => "#"} レディース
        -#     %li.type
        -#       %a{:href => "#"} メンズ
        -#     %li.type
        -#       %a{:href => "#"} ベビー・キッズ
        -#     %li.type
        -#       %a{:href => "#"} インテリア・住まい・小物
        -#     %li.type
        -#       %a{:href => "#"} 本・音楽・ゲーム
        -#     %li.type
        -#       %a{:href => "#"} おもちゃ・ホビー・グッズ
        -#     %li.type
        -#       %a{:href => "#"} コスメ・香水・美容
        -#     %li.type
        -#       %a{:href => "#"} 家電・スマホ・カメラ
        -#     %li.type
        -#       %a{:href => "#"} スポーツ・レジャー
        -#     %li.type
        -#       %a{:href => "#"} ハンドメイド
        -#     %li.type
        -#       %a{:href => "#"} チケット
        -#     %li.type
        -#       %a{:href => "#"} 自転車・オートバイ
        -#     %li.type
        -#       %a{:href => "#"} その他
        %a{:href => "#"} ブランド
      %ul.listright
        %li.login
          %a{:href => "#"} ログイン
        %li.usercreate
          %a{:href => "#"} 新規会員登録


